.movie-details-main {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}
.movie-info-div {
  height: 90%;
  width: 100%;
}
.loader-div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.movie-top-div {
  height: 30%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.top-div-h1 {
  color: #ffffff;
  font-size: 26px;
  margin-bottom: 5px;
}
.details-div {
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.details-p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.ua-p {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
}
.top-div-p {
  color: #ffffff;
  font-size: 12px;
  width: 75%;
  font-weight: 500;
  margin-top: 0px;
}
.top-div-play-btn {
  height: 25px;
  width: 55px;
  color: #171f46;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 600;
}
.main-movie-info {
  height: 60%;
  width: 100%;
}
.categories-div {
  height: 30%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1%;
}
.info-div {
  height: 100%;
  width: 25%;
  color: #ffffff;
  list-style-type: none;
  padding-left: 0px;
}
.genre-h1 {
  color: #94a3b8;
  font-size: 16px;
  font-weight: 500;
}
.genre-p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
}
.more-div {
  height: 65%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
}
.more-div-h1 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
.movies-div {
  list-style-type: none;
  padding-left: 0px;
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-top: 0px;
}
.link-style {
  height: 48%;
  width: 24%;
  margin-bottom: 1%;
  margin-right: 1%;
}
.movie-li {
  list-style-type: none;
  height: 100%;
  width: 100%;
}
.movie-img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .top-div-h1 {
    font-size: 20px;
  }
  .details-div {
    width: 30%;
    margin-bottom: 0px;
  }
  .details-p {
    font-size: 10px;
  }
  .top-div-p {
    font-size: 8px;
    width: 90%;
  }
  .top-div-play-btn {
    height: 20px;
    width: 35px;
    font-size: 10px;
  }
  .ua-p {
    font-size: 8px;
  }
  .categories-div {
    padding-top: 1%;
  }
  .genre-h1 {
    font-size: 8px;
    margin-bottom: 0px;
  }
  .genre-p {
    font-size: 8px;
    margin-top: 2px;
    margin-bottom: 1px;
  }
  .more-div {
    height: 50%;
    margin-bottom: 0px;
  }
  .more-div-h1 {
    font-size: 14px;
    margin-bottom: 1%;
    margin-top: 0px;
  }
  .link-style {
    height: 47%;
    width: 47%;
    margin-bottom: 1%;
    margin-right: 1%;
  }
}
