.account-main {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  font-family: 'sans-serif';
}
.middle {
  height: 78%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0px;
  margin-bottom: 1%;
}
.account-h1 {
  color: #131313;
  font-size: 30px;
  align-self: flex-start;
}
.hr-line {
  background-color: #cbd5e1;
  width: 100%;
  height: 2px;
}
.flex {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.flex-1 {
  width: 14%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}
.member {
  color: #94a3b8;
  font-size: 20px;
  align-self: flex-start;
  margin-right: 2%;
  font-weight: 500;
  margin: 0px;
}
.member-2 {
  color: #1e293b;
  font-weight: 350;
  font-size: 20px;
  margin-top: 0px;
}
.logout {
  background-color: #e50914;
  height: 8%;
  width: 12%;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 2%;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .flex {
    height: 12%;
  }
  .flex-1 {
    width: 25%;
    margin-right: 1%;
  }
  .member {
    font-size: 14px;
  }
  .logout {
    width: 18%;
    height: 5%;
    font-size: 12px;
  }
  .member-2 {
    font-size: 16px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .flex {
    height: 12%;
  }
  .flex-1 {
    width: 20%;
    margin-right: 2%;
  }
  .member {
    font-size: 20px;
  }
  .logout {
    width: 18%;
    height: 6%;
    font-size: 12px;
  }
  .member-2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .account-h1 {
    font-size: 32px;
  }
  .flex {
    height: 15%;
  }
  .flex-1 {
    width: 20%;
    margin-right: 2%;
  }
  .member {
    font-size: 22px;
  }
  .logout {
    width: 18%;
    height: 6%;
    font-size: 14px;
  }
  .member-2 {
    font-size: 22px;
  }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
  .account-h1 {
    font-size: 34px;
  }
  .flex {
    height: 15%;
  }
  .flex-1 {
    width: 20%;
    margin-right: 2%;
  }
  .member {
    font-size: 25px;
  }
  .logout {
    width: 18%;
    height: 6%;
    font-size: 18px;
  }
  .member-2 {
    font-size: 25px;
  }
}
