.home-main {
  height: 100vh;
  width: 100vw;
}

.random-movie {
  height: 30%;
  width: 100%;
  background-color: #181818;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottom-div {
  height: 60%;
  width: 100%;
  background-color: #181818;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
}
.trending-movie-div {
  height: 35%;
  width: 100%;
  margin-bottom: 0.5%;
}

.loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}
.movie-div {
  height: 80%;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}
.movies-category {
  color: #ffffff;
  font-size: 16px;
  align-self: flex-start;
  margin-bottom: 0.5%;
  margin-top: 0px;
}

.slider {
  width: 92%;
  margin: auto;
}
.link-card {
  text-decoration-color: transparent;
  width: 100%;
}
.text {
  width: 98%;
  display: flex;
  justify-content: center;
}

.img-slide {
  width: 98%;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  margin: auto;
}

.random-movie-h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}

.random-movie-p {
  color: #ffffff;
  font-size: 12px;
  width: 45%;
  font-weight: 500;
}
.link-btn {
  height: 20px;
  width: 40px;
  text-decoration-color: transparent;
}
.play-btn {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #171f46;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}
.failure-img {
  height: 25px;
  width: 25px;
}
.fail-para {
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
}
.try-btn {
  height: 20px;
  width: 60px;
  color: #171f46;
  border-radius: 3px;
  border: none;
  font-size: 8px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .random-movie-h1 {
    font-size: 14px;
  }
  .random-movie-p {
    font-size: 8px;
    width: 95%;
    font-weight: 600;
  }
  .slider {
    width: 90%;
  }
  .play-btn {
    background-color: #ffffff;
    color: #171f46;
  }
  .trending-movie-div {
    height: 29%;
    margin-bottom: 1%;
  }
  .link-card {
    height: 100%;
    width: 100%;
  }
  .img-slide {
    height: 80px;
    margin-top: 2px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .random-movie {
    justify-content: center;
    padding-bottom: 2%;
  }
  .random-movie-h1 {
    font-size: 20px;
  }
  .random-movie-p {
    font-size: 10px;
    width: 75%;
    font-weight: 500;
  }
  .play-btn {
    background-color: #ffffff;
    color: #171f46;
  }
  .trending-movie-div {
    height: 32%;
    margin-bottom: 5%;
  }
  .slider {
    width: 98%;
  }
  .link-card {
    height: 100%;
    width: 100%;
  }
  .img-slide {
    height: 143px;
    margin-top: 2px;
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  .random-movie {
    justify-content: center;
  }
  .random-movie-h1 {
    font-size: 24px;
  }
  .random-movie-p {
    font-size: 12px;
    width: 95%;
    font-weight: 600;
  }
  .play-btn {
    background-color: #171f46;
    color: #ffffff;
  }
  .movies-category {
    font-size: 16px;
  }
  .trending-movie-div {
    height: 29%;
    margin-bottom: 1%;
  }
  .slider {
    width: 100%;
  }
  .link-card {
    height: 100%;
    width: 100%;
  }
  .img-slide {
    height: 160px;
    margin-top: 2px;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .random-movie {
    justify-content: center;
  }
  .random-movie-h1 {
    font-size: 28px;
  }
  .random-movie-p {
    font-size: 14px;
    width: 95%;
    font-weight: 600;
  }
  .play-btn {
    background-color: #171f46;
    height: 35px;
    width: 60px;
    color: #ffffff;
  }
  .movies-category {
    font-size: 20px;
  }
  .trending-movie-div {
    height: 29%;
    margin-bottom: 1%;
  }
  .slider {
    width: 100%;
  }
  .link-card {
    height: 100%;
    width: 100%;
  }
  .img-slide {
    height: 170px;
    margin-top: 2px;
  }
}

@media (min-width: 1200px) {
  .random-movie {
    justify-content: center;
  }
  .random-movie-h1 {
    font-size: 25px;
  }
  .random-movie-p {
    font-size: 14px;
    width: 75%;
    font-weight: 500;
  }
  .play-btn {
    background-color: #171f46;
    height: 40px;
    width: 70px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
  }
  .movies-category {
    font-size: 20px;
  }
  .trending-movie-div {
    height: 32%;
    margin-bottom: 0.5%;
  }
  .slider {
    width: 100%;
  }
  .link-card {
    height: 100%;
    width: 98%;
  }
  .img-slide {
    height: 120px;
    margin-top: 2px;
  }
}
