.header-main {
  height: 10%;
  width: 100%;
  background: #000000;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.first-div {
  list-style-type: none;
  padding-left: 0px;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  height: 70%;
  width: 48%;
  align-content: flex-start;
}
.movies-icon {
  height: 100%;
  width: 100%;
  background-position: center;
}
.link-item {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  text-decoration-color: transparent;
  background-color: #000000;
}
.second-div {
  width: 20%;
  height: 100%;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.plus {
  width: 45%;
}
.search-div {
  width: 90%;
  height: 70%;
  border: solid 1px #ffffff;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar {
  width: 90%;
  height: 90%;
  border: none;
  background-color: #000000;
  color: #f8fafc;
  font-family: 'sans-serif';
  padding-left: 2%;
  outline: none;
  font-size: 16px;
}
.search-icon-btn {
  height: 90%;
  width: 10%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
.search-icon-bar {
  height: 60%;
  width: 100%;
  color: #ffffff;
}
.link-btn {
  height: 35%;
  width: 35%;
}
.search-btn {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 0px;
}
.search-icon {
  color: #ffffff;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.link {
  height: 80%;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-decoration-color: transparent;
  flex-grow: 0;
}
.plus-link {
  width: 26%;
}
.link-queue {
  height: 90%;
  width: 45%;
  display: none;
  text-decoration-color: transparent;
}
.profile-img {
  cursor: pointer;
}
.queue-img {
  cursor: pointer;
  height: 55%;
  width: 70%;
}
.yes {
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .link-item {
    display: none;
  }
  .logo-link {
    height: 90%;
    width: 75%;
  }
  .second-div {
    width: 25%;
  }
  .link-btn {
    height: 50%;
    width: 50%;
  }
  .link {
    display: none;
  }
  .link-queue {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .link-item {
    display: none;
  }
  .logo-link {
    height: 90%;
    width: 75%;
  }
  .second-div {
    width: 25%;
  }
  .link-btn {
    height: 50%;
    width: 50%;
  }
  .link {
    display: none;
  }
  .link-queue {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
