.icons-div {
  height: 30px;
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
.icons {
  color: #ffffff;
  height: 16px;
  width: 16px;
}
.contact-us {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  margin-top: 0.5%;
  text-align: center;
}
