.icons-div {
  height: 30px;
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.icons {
  color: #ffffff;
  height: 16px;
  width: 16px;
}
.contact-us {
  color: #ffffff;
  font-size: 8px;
  font-weight: 500;
  margin-top: 0.5%;
  text-align: center;
}

@media (max-width: 576px) {
  .icons-div {
    width: 25%;
    height: 20px;
    margin-top: 2%;
    margin-bottom: 0px;
  }
  .icons {
    height: 12px;
    width: 12px;
  }
}
