.footer-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.icons-div {
  height: 25px;
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
}
.icons {
  color: #ffffff;
  height: 15px;
  width: 15px;
}
.contact-us {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
  text-align: center;
}

@media (max-width: 576px) {
  .icons-div {
    width: 25%;
    margin-top: 2%;
    margin-bottom: 0px;
  }
  .icons {
    height: 12px;
    width: 12px;
  }
  .contact-us {
    font-size: 12px;
    font-weight: 500;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  .icons-div {
    width: 25%;
    margin-top: 2%;
    margin-bottom: 0px;
  }
  .icons {
    height: 14px;
    width: 14px;
  }
  .contact-us {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .icons-div {
    margin-top: 0.5%;
  }
  .contact-us {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
  }
}
